

.skills {
  justify-self: center;
}

.skills__title {
  font-size: $fs-lg;
  text-align: center;
  margin-bottom: 3rem;
}

.skills__wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.skills__content {
  background-color: $color-bg-secondary;
  box-shadow: $box-shadow;
  padding: 3rem;
}

.skills__item {
  margin-bottom: 1rem;
}

.skills__subtitle {
  text-align: center;
  margin-bottom: 2rem;
}

.skills__item i {
  color: $color-primary;
}

.qualification__wrapper {
  margin-bottom: 5rem;
}

.qualification__content {
  row-gap: 5rem;
}

.qualification__name {
  display: flex;
  column-gap: 1rem;
  font-size: $fs-lg;
  margin-bottom: 5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $color-border;
}

.qualification__title {
  font-size: $fs-md;
  font-weight: $fw-medium;
  margin-bottom: 1rem;
}

.qualification__description {
  margin-bottom: 2rem;
}

.qualification__date {
  font-size: $fs-sm;
  font-weight: $fw-semibold;
}

.qualification__footer {
  border-top: 1px solid $color-border;
  margin-top: 10rem;
  padding-top: 4rem;
  text-align: center;
}

.qualification__footer-text {
  font-size: $fs-xl;
  font-weight: $fw-bold;
  color: $color-white;
  margin-bottom: 2rem;
}

.service__card {
  background-color: $color-bg-secondary;
  box-shadow: $box-shadow;
  padding: 5rem 3.5rem;
  width: 100%;
  max-width: 30rem;
  justify-self: center;
  transition: $transition;
}

.service__card:hover {
  background-color: $color-primary;
}

.service_card:hover .service_link {
  color: $color-white;
}

service__icon {
  font-size: 3.5rem;
  color: $color-white;
  margin-bottom: 1.5rem;
}

service__title {
  font-size: $fs-lg;
  margin-bottom: 3rem;
}

project__content {
  width: 100%;
  max-width: 30rem;
  justify-self: center;
}

project__img {
  margin-bottom: 2rem;
}

project__title {
  color: $color-white;
  font-size: $fs-lg;
  margin-bottom: 1rem;
}

project__description {
  margin-bottom: 2rem;
}

project__link {
  font-size: $fs-sm;
  text-transform: uppercase;
  color: $color-white;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: $transition;
}

project__link:hover {
  color: $color-primary;
  column-gap: 1rem;
}

// Define variables
.testimonial__card {
  background-color: $color-bg-secondary;
  box-shadow: $box-shadow;
  padding: 3rem 5rem;
  width: 100%;
  max-width: 50rem;
  text-align: center;
  justify-self: center;
  margin-bottom: 2rem;
  display: flex; // Add display: flex to accommodate content
  flex-direction: column; // Display content in a column
  align-items: center; // Center content horizontally
  text-align: center;
}

.testimonial__img {
  max-width: 10rem;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 3rem;
}

.testimonial__description {
  color: $color-white;
  margin-bottom: 1rem; 
}

.testimonial__name {
  font-size: $fs-md;
  margin-bottom: 0.5rem;
}

.testimonial__occupation {
  font-size: $fs-sm;
}

.testimonial__wrapper .swiper-wrapper {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
}

.testimonial__wrapper .swiper-pagination-bullets {
  justify-content: space-around;
}

.testimonial__wrapper .swiper-pagination-bullet {
  background-color: $color-text;
  border-radius: 0;
  width: 3rem;
  height: 0.5rem;
}

.testimonial__wrapper .swiper-pagination-bullet-active {
  background-color: $color-primary;
}


contact__wrapper {
  border-top: 1px solid $color-border;
  padding-top: 3rem;
  text-align: center;
}

contact__title {
  font-size: $fs-xxl;
  margin-bottom: 2rem;
}

contact__content {
  max-width: 45rem;
  margin: auto;
}

contact__description {
  margin-bottom: 2rem;
}

footer {
  background-color: $color-bg-footer;
  padding: 5rem 0;
}

footer__wrapper {
  border-bottom: 1px solid $color-bg-secondary;
  padding: 5rem 0;
  gap: 5rem;
}

footer__title {
  font-size: $fs-lg;
  margin-bottom: 2rem;
}

footer__social-list {
  display: flex;
  gap: 3rem;
}

footer__social-link {
  font-size: 2rem;
  color: $color-white;
  transition: $transition;
}

footer__contact {
  font-size: $fs-lg;
  color: $color-white;
  font-weight: $fw-bold;
  text-decoration: underline;
  transition: $transition;
}

footer__social-link:hover,
footer__contact:hover {
  color: $color-primary;
}

footer__copyright {
  font-size: $fs-sm;
  text-align: center;
  padding-top: 3rem;
}

::-webkit-scrollbar {
  width: 1rem;
  border-radius: 0.5rem;
  background-color: $color-bg-secondary;
}

::-webkit-scrollbar-thumb {
  background-color: $color-text;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $color-primary;
}

@media screen and (min-width: 560px) {
  .service__wrapper {
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
  }

  .qualification__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification__footer {
    text-align: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .qualification__footer-text {
    margin: 0;
  }

  .project__wrapper {
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
  }

  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .hero__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .hero__content {
    text-align: initial;
  }

  .hero__title::after {
    transform: none;
    left: 0;
  }

  .hero__info {
    justify-content: initial;
  }

  .hero__img {
    justify-self: flex-end;
  }
}

@media screen and (min-width: 968px) {
  .about__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__content {
    margin: 0;
  }

  .about__content,
  .skills__title {
    text-align: initial;
  }

  .qualification__content,
  .service__wrapper,
  .project__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact__content {
    margin: 0;
    text-align: initial;
  }

  .footer__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

form {
  width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: orange;
}

input[type="submit"]:focus {
  outline: none;
}

textarea {
  resize: vertical;
}

input,
textarea {
  margin-bottom: 10px;
}
